# ---- Secrets ----
.env

# ---- Virtual environments & Python cache ----
.venv/
__pycache__/
*.pyc

# ---- Data ----
FNOL_DATASET/

# ---- Trained models / artifacts ----
models/
*.pkl

# ---- MLflow ----
mlruns/

# ---- Notebooks ----
*.ipynb
First Notice of Loss.py